.slide-section{
  padding: 40px 0;
}
.wrapper{
   overflow: hidden;
   max-width: 1000px;
   margin: 0 auto;
  }
.slide{
  display: flex;
}

.slide li{
  max-width: 800px;
  height: 80vh;
  margin: 0 20px;
  flex-shrink: 0;

}
.slide img{
height: 100%;
border-radius: 6px;
}

/* SLIDE CONTROLS */

.slide-controls{
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
}
.slide-controls img{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 6px;
}
.slide-controls span{
  font-size: .8rem;
}